@model QuanLyCuaHangSach.Models.Chitietnhap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/create_form.cshtml";
    Phieudathangmua pdhm = TempData["phieudathangmua"] as Phieudathangmua;
}


<header><h2>Sửa Chi Tiết Nhập</h2></header>
        <form asp-action="Editslgiao" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idctn" />
            <div class="input-box">
                <label class="control-label">Tên sách</label>
                <input asp-for="Sachidsach" class="form-control" asp-items="ViewBag.Sachidsach" readonly/>
            </div>
            <div class="input-box">
                <label class="control-label">Số lượng đặt</label>
                <input asp-for="Sldat" class="form-control" readonly/>
                <span asp-validation-for="Sldat" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label class="control-label">Số lượng giao</label>
        <input asp-for="Slgiao" class="form-control" />
                <span asp-validation-for="Slgiao" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label class="control-label">Đơn giá nhập</label>
                <input asp-for="Dongianhap" class="form-control" readonly/>
                <span asp-validation-for="Dongianhap" class="text-danger"></span>
            </div>
            

            <select asp-for="Phieudathangmuaidpdhm" class="form-control" asp-items="ViewBag.Phieudathangmuaidpdhm" hidden></select>

            <div>
                <input type="submit" value="Cập nhật" class="btns" onclick="return ConfirmDelete(this);"/>
            </div>
            <hr />
            <div class="btns" style="padding-top:15px">
                <center>
                    <a style="color:white; text-decoration:none;" href="@Url.Action("Indexxem", "Chitietnhaps", new { Idpdhm = pdhm.Idpdhm })">Quay về</a>
                </center>
            </div>
        </form>


