@model QuanLyCuaHangSach.Models.Tacgia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/create_form.cshtml";
}

<header><h2>Thêm Tác Giả</h2></header>

        <form asp-action="Create" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <label class="control-label">Mã tác giả</label>
                <input asp-for="Matacgia" class="form-control" />
                <span asp-validation-for="Matacgia" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label class="control-label">Tên tác giả</label>
                <input asp-for="Tentacgia" class="form-control" />
                <span asp-validation-for="Tentacgia" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label class="control-label">Ghi chú</label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btns" />
            </div>
            <div class="btns" style="padding-top:15px">
                <center><a asp-action="Index" style="color:white; text-decoration:none;">Quay về</a></center>
            </div>
        </form>
 