@model QuanLyCuaHangSach.Models.Noidungthutien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/create_form.cshtml";
    Phieuthutienban pttb = TempData["phieuthutienban"] as Phieuthutienban;
}

<header><h2>Thêm Nội Dung Thu Tiền</h2></header>
        <form asp-action="Create" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <label class="control-label">Phiếu đặt hàng</label>
                <div class="select-box">
                    <select asp-for="Phieudathangbanidpdhb" class ="form-control" asp-items="ViewBag.Phieudathangbanidpdhb"></select>
                </div>
            </div>

            <input value="@pttb.Idpttb" name="Phieuthutienbanidpttb" type="hidden" />

            <div class="input-box">
                <label class="control-label">Số tiền thu</label>
                <input asp-for="Sotienthu" class="form-control" oninput="formatCurrency(this)"/>
                <span asp-validation-for="Sotienthu" class="text-danger"></span>
            </div>

             <script>
                function formatCurrency(input) {
                    var value = input.value.replace(/\D/g, '');
                    var formatter = new Intl.NumberFormat('en-US');

                    // Kiểm tra giá trị nhập vào
                    if (value < 0) {
                        // Xử lý lỗi tại đây, ví dụ: hiển thị thông báo lỗi
                        alert("Giá nhập không hợp lệ. Vui lòng nhập lại!");
                        input.value = ""; // Xóa giá trị nhập vào
                    } else {
                        input.value = formatter.format(value);
                    }
                }
            </script>

            <div>
                <input type="submit" value="Lưu" class="btns" />
            </div>
            <hr />
            <div class="btns" style="padding-top:15px">
                <center>
                <a style="color:white; text-decoration:none;" href="@Url.Action("Index", "Noidungthutiens", new { Idpttb = pttb.Idpttb })">Quay về</a>
                </center>
            </div>
        </form>

